body{
    background-color: rgb(57, 5, 5);
    color: rgb(247, 209, 209);
}

/* .text-field{
    width: 800px;
    
}

.MuiTextField-root{
    border-color:  white !important;
}

.MuiOutlinedInput-notchedOutline{
    border-color: white !important;
 }

 #outlined-basic-label{
    color: white !important;
 } */